<!--
  Generated template for the NewTablePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Table {{selectedTable.nb}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h3>Ajouter des clients :</h3>
  <button ion-button (click)="onKnownClient()">Client connu</button>
  <button ion-button>Nouveau client</button>
  <h3>Clients :</h3>
  <ul *ngFor="let client of clients">
      <li *ngIf="client.name">{{client.name}}</li>
      <li *ngIf="!client.name">Client {{client.number}}</li>
  </ul>

  <button ion-button block (click)="createInvoice()">OK</button>

</ion-content>
