page-tables {
    ion-col div {
        padding: 5px;
        text-align: center;
      }      
      p {
        padding: 10px 0 0 10px !important;
        margin: 0;
      }
    .green {
      background-color: green;
      border : solid green 1px;
      border-radius: 2px;
    }
    .red {
      background-color: red;
      border : solid red 1px;
      border-radius: 2px;
    }
  }