<!--
  Generated template for the TablesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Tables</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-4 *ngFor="let table of tables">
          <button ion-button (click)="onTable($event, table)">
            <div>TABLE {{table.nb}}</div>
            <div *ngIf="table.available" class="green">libre</div>
            <div *ngIf="!table.available" class="red">occupée</div>
          </button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>